div{
  display: flex;
  height: 20vh;
  width: 300px;
  background-color: red;
  border: black 6px solid;
  margin: 4px 3%;
  padding: 0%;
}
@media screen and (max-width: 1024px){
  div{
    border: black 6px dotted;
    background-color: green;
    width: 20%;
    height: 100px;
    margin: 10px 6%;
    padding: 9px;

  }

}
@media screen and (max-width: 768px){

  div{
    border: rgb(139, 0, 0) 6px solid;
    background-color: green;
    width: 20%;
    height: 100px;
    margin: 0%;
    padding-right: 9%;

   }

}
