h1{font-family: helvetica; font-size: 32px; letter-spacing: 0.2px; margin-top: 1px;}
p{color: #808080; font-size: 20px;  font-family: helvetica; line-height: 150%;}
body{height: 500px; width: 100%; background-color: #E6E6FA;}
.main{
  background-color: #E6E6FA;
  display: flex;
  height: 80%;
  width: 100%;
}

.team_potrero{
  background-color: #E6E6FA;
  height: 20%;
  width: 100%;
  padding-left: 2px;
}

.article{padding-left: 2px;}

.imagen_article{
  margin-left: 20px;
}

.parrafo1{font-weight: 500; font-style: italic;}

#team_PD{
  font-size: 16px;

}
